name: Build and Release Mod JAR

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Needed for uploading assets

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Build JAR
      run: ./gradlew build

    - name: Upload JARs to Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/libs/*.jar"
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }}
